

.postbox{
    background-color: darkcyan;
    height: 350px;
    width: 60%;
    margin: auto;
    font-family: monospace;
    font-size: x-large;
    border: 2px solid crimson;
}
.head_container {
    font-size: 75px;
    color: rgb(37, 35, 35);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    position: absolute;
    background-image: URL("Banner.jpg");
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: center;
    text-shadow: 3px 3px crimson;
}
h2{
    color: rgb(37, 35, 35);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20%;
}
h1{
    color: rgb(37, 35, 35);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 60px;
}